{% macro displayNews(news_items) %}

{% for item in news_items %}

{% for item in news_items %}
{% if item.urlToImage %}
<div class="card mb-3" style="max-width: 600px">
    <div class="row g-0">
        <div class="col-md-8">
            <img src="{{ item.urlToimage }}"  class="img-fluid img-responsive"/>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h6 class="card-title">{{ item.title | truncate(80) }}</h6>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text">
                    <small class="text-muted">{{ item.published }}</small>
                </p>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endfor %}

{% endmacro %}