{% extends 'base.html' %}
{% import 'macros.html' as macro %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="sidebar sticky-sidebar col-md-2">
                <nav class="sidebar d-none d-md-block">
                    <h6 class="text-muted">your best sources</h6>
                    <hr>
                    {{ macro.displayNewsSources(sources) }}
                </nav>
            </div>


        </div>
    </div>
    {% endblock %}
</body>
</html>